html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: gray;
}

#googleMaps {
  height: 100%;
}

#log {
  z-index: 1;
  background: white;
  position: absolute;
  top: 600px;
  max-width: 600px;
  height: 250px;
  left: 0em;
  right: 0em;
  overflow: auto;
}

#leafMaps {
  z-index: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 600px;
  height: 600px;
  background: black;
}

.leaflet-edge {
  background-color: #95bc59;
  box-shadow: 0 0 0 2px white, 0 0 10px rgba(0, 0, 0, .35);
  border-radius: 50%;
  cursor: move;
  outline: none;
  transition: background-color .25s;
}

.leaflet-polygon {
  fill: #b4cd8a;
  stroke: #50622b;
  stroke-width: 2;
  fill-opacity: .75;
}

.leaflet-line {
  stroke: #caf07f;
  stroke-width: 2;
}

#deleteButton{
background-color: #38465b;
border: none;
color: white;
padding: 8px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 2px 1px;
cursor: pointer;
display: inline;
}

#navButton{
background-color: #38465b;
border: none;
color: white;
padding: 8px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 2px 1px;
cursor: pointer;
display: inline;
}

nav {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background: #fff;
  border-top: 1px solid #aaa;
  text-align: right;
}