<!DOCTYPE html>
<html>

<head>
    <title>cliewen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/index.css">
    <link rel="stylesheet" href="templates/js-lib/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.css" />
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
    <script src="templates/js-lib/leaflet/dist/leaflet-src.js"></script>
    <script src="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPdplbTFbBVJg01NYVcw7fpY-pZR--Eew&callback=initMap"></script>
    <!-- <script src="templates/leaflet-freedraw/dist/leaflet-freedraw.web.js"></script> -->
</head>
<body>
    <div id="googleMaps"></div>
    <div id="leafMaps"></div>
    <div id="log"></div>
    <script src="templates/index.js"></script>
</body>
</html>