<!DOCTYPE html>
<html>
<head>
    <title>cliewen</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="templates/index.css">
    <script src="https://cdn.rawgit.com/konvajs/konva/1.7.6/konva.min.js"></script>
    <script src="https://unpkg.com/mathjs@4.0.0/dist/math.min.js" type="text/javascript"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPdplbTFbBVJg01NYVcw7fpY-pZR--Eew&callback=initMap"></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
</head>
<body>
    <div id="googleMaps"></div>
    <div id="viewportTop"></div>
    <canvas id="viewportBottom" width="600" height="600"></canvas>
    <form id="form" name="form">
        <div class="pixelXY">
                <div>
                    <input type="submit" id="button" value="Send"> 
                </div>
            <div id="pixels">        
                Pixel X = <span id="form_x"></span> <br>
                Pixel Y = <span id="form_y"></span>
            </div>
        </div>
    </form>
    <div id="log"></div>
    <script src="templates/index.js"></script>
</body>
</html>