html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: gray;
}

#log {
  background: white;
  position: absolute;
  top: 600px;
  max-width: 600px;
  left: 0em;
  right: 0em;
  bottom: 8em;
  overflow: auto;
}

#googleMaps {
  height: 100%;
}

#leafMaps {
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 600px;
  height: 600px;
  background: black;
}

.leaflet-edge {
  background-color: #95bc59;
  box-shadow: 0 0 0 2px white, 0 0 10px rgba(0, 0, 0, .35);
  border-radius: 50%;
  cursor: move;
  outline: none;
  transition: background-color .25s;
}

.leaflet-polygon {
  fill: #b4cd8a;
  stroke: #50622b;
  stroke-width: 2;
  fill-opacity: .75;
}

.leaflet-line {
  stroke: #caf07f;
  stroke-width: 2;
}