<!DOCTYPE html>
<html lang="en">

<head>
	<title>register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="templates/register-util.css">
	<link rel="stylesheet" type="text/css" href="templates/register-main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

	<div class="w3-container">
		<div class="mobileCover w3-large">
			Sorry, we are still working on mobile support.
			<img class="coverCat" src="/templates/mobileCoverCat.png" alt="coverCat">
		</div>
	</div>

	<div class="w3-row">
		<div class="light w3-twothird">
			<video id="explainerVideo" width="100%" height="auto" controls="controls" preload="none" poster=/templates/720poster.png
			    onclick="this.paused ? this.play() : this.pause();">
				<source src="templates/Cliewen_Production.mp4" type="video/mp4">
				<!--Browser does not support <video> tag -->
			</video>
		</div>
	</div>

	<div class="fade" onClick="lightbox_close();"></div>


	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">

				<div style="font-family:sans-serif; color:#403866; padding:0 0px 26px 0px; text-align:justify; line-height:1.2; font-size:18px;">
					An autonomous vehicle may drive itself close to its destination, but there is not enough data about the destination
					for the vehicle to understand exactly where to take the passenger.
				</div>

				<button class="Video-btn m-b-34" onclick="lightbox_open();">
					Watch How Cliewen Solves This &nbsp
					<i class="fa fa-play-circle-o" style="font-size:42px;color:red"></i>
				</button>

				<form method="POST" class="login100-form validate-form flex-sb flex-w" autocomplete="off" onsubmit="return mobileWarning()">
					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="username" placeholder="Put a name here">
						<span class="focus-input100"></span>
					</div>
					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Go to Cliewen
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{if . }}
	<div class="error">{{.}}</div>
	{{end}}

	<script>
		window.document.onkeydown = function (e) {
			if (!e) {
				e = event;
			}
			if (e.keyCode == 27) {
				lightbox_close();
			}
		}

		function lightbox_open() {
			window.scrollTo(0, 0);
			document.getElementsByClassName('light')[0].style.display = 'block';
			document.getElementsByClassName('fade')[0].style.display = 'block';
		}

		function lightbox_close() {
			var lightBoxVideo = document.getElementById("explainerVideo");
			document.getElementsByClassName('light')[0].style.display = 'none';
			document.getElementsByClassName('fade')[0].style.display = 'none';
			document.getElementsByClassName('mobileCover')[0].style.display = 'none';
			lightBoxVideo.pause();
		}

		window.addEventListener("orientationchange", function () {
			switch (window.orientation) {
				case -90 || 90:
					document.getElementsByClassName('coverCat')[0].style.display = 'none';
					break;
				default:
					document.getElementsByClassName('coverCat')[0].style.display = 'block';
					break;
			}
		});

		function mobileWarning() {
			if (window.innerWidth < 700 || window.innerHeight < 700) {
				window.scrollTo(0, 0);
				document.getElementsByClassName('mobileCover')[0].style.display = 'block';
				document.getElementsByClassName('fade')[0].style.display = 'block';

				if (window.innerWidth > window.innerHeight) {
					document.getElementsByClassName('coverCat')[0].style.display = 'none';
				}

				return false;
			}
			return true;
		}
	</script>
</body>

</html>